:root {
  --clr-1: #ffffff;
  --clr-2: #d3e4e2;
  --clr-3: #373a36;
  --clr-4: #008bce;
  --clr-5: #f2a900;
  --clr-6: #b3c50e;
  --clr-7: #d9d9d6;
  --clr-7: #008ac6
}

.App {
  text-align: center;
  background-color: var(--clr-3);
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--clr-1);

}

.chatbot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fiuba-logo {
  width: 20%;
}

.react-chatbot-kit-user-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 15px;
}

.react-chatbot-kit-bot-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

/*=========================================*/

.chatbot {
  height: 100vh !important;
}

.chatbot {
  display: block !important;
}
.react-chatbot-kit-chat-container {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
}

.react-chatbot-kit-chat-inner-container{
  height: 100% !important;
}

.react-chatbot-kit-chat-message-container {
  height: calc(100vh - 40px) !important;
  padding-bottom: 0% !important;
  overflow-x: hidden !important;
}

.react-chatbot-kit-chat-input-container{
  position: relative !important;
  height: 40px !important;
}

.react-chatbot-kit-chat-bot-message {
  margin: 0% !important;
  width: fit-content !important;
}

/*=========================================*/

.chatbot-loader-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#chatbot-loader #chatbot-loader-dot1 {
  animation: load 1s infinite;
}

#chatbot-loader #chatbot-loader-dot2 {
  animation: load 1s infinite;
  animation-delay: 0.2s;
}

#chatbot-loader #chatbot-loader-dot3 {
  animation: load 1s infinite;
  animation-delay: 0.4s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  vertical-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-7);
}
