:root {
  --clr-1: #ffffff;
  --clr-2: #d3e4e2;
  --clr-3: #373a36;
  --clr-4: #008bce;
  --clr-5: #f2a900;
  --clr-6: #b3c50e;
  --clr-7: #d9d9d6;
}

.App {
  text-align: center;
  background-color: var(--clr-3);
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--clr-1);
  height: 10vh;
}

.chatbot {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  justify-content: center;
}

.App-footer {
  height: 20vh;
}

.fiuba-logo {
  width: 20%;
}


